actionlib==1.14.0
angles==1.9.13
bondpy==1.8.6
camera-calibration-parsers==1.12.0
catkin==0.8.10
colorama==0.4.6
contourpy==1.1.1
controller-manager==0.20.0
controller-manager-msgs==0.20.0
cv-bridge==1.16.2
cycler==0.12.1
diagnostic-updater==1.11.0
dynamic-reconfigure==1.7.3
eigen==1.0.5
fonttools==4.53.1
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
image-geometry==1.16.2
importlib-resources==6.4.0
interactive-markers==1.12.0
kaleido==0.2.1
kiwisolver==1.4.5
laser-geometry==1.6.7
matplotlib==3.7.5
message-filters==1.16.0
numpy==1.24.4
packaging==24.1
pandas==2.0.3
pillow==10.4.0
plotly==5.23.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-qt-binding==0.4.4
pytz==2024.1
PyYAML==6.0.2
qt-gui==0.4.2
resource-retriever==1.12.7
rosbag==1.16.0
rosboost-cfg==1.15.8
rosclean==1.15.8
roscreate==1.15.8
rosdoc-lite==0.2.11
rosgraph==1.16.0
roslaunch==1.16.0
roslib==1.15.8
roslz4==1.16.0
rosmake==1.15.8
rosmaster==1.16.0
rosmsg==1.16.0
rosnode==1.16.0
rosparam==1.16.0
rospy==1.16.0
rosservice==1.16.0
rostest==1.16.0
rostopic==1.16.0
rosunit==1.15.8
roswtf==1.16.0
rqt-console==0.4.12
rqt-gui==0.5.3
rqt-gui-py==0.5.3
rqt-logger-level==0.4.12
rqt-py-common==0.5.3
rviz==1.14.20
sch==1.0.5+ba0ff5e
scipy==1.10.1
sensor-msgs==1.13.1
six==1.16.0
smclib==1.8.6
tenacity==9.0.0
tf==1.13.2
tf2-geometry-msgs==0.7.7
tf2-py==0.7.7
tf2-ros==0.7.7
topic-tools==1.16.0
tzdata==2024.1
xacro==1.14.16
zipp==3.20.0
